<!-- resources/assets/js/components/About.vue -->

<template>
    <div>
        <div class="col-sm-6 col-sm-offset-3">
            <h1>About</h1>
            <p>{{ content }}</p>
            <pre>{{ developer }}</pre>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
          content: 'This is my starter app, you are free to use to kick start your VueJS applications.',
          developer: 'Ricardo Hernández --Web Developer.'
        }
    }
}
</script>
