<!-- resources/assets/js/components/App.vue -->

<template>
    <div>
        <nav class="navbar navbar-default">
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a v-link="'home'"><i class="fa fa-home"></i> Home</a></li>
                    <li><a v-link="'about'"><i class="fa fa-info"></i> About</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>
