<!-- resources/assets/js/components/Home.vue -->

<template>
    <div>
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Get a Free Chuck Norris Quote!</h1>

            <a class="btn btn-primary" @click="getQuote()" v-show="!loading">Get a Quote</a>
            <a href="#" class="btn btn-primary" disabled="disabled" v-show="loading"><i class="fa fa-refresh fa-spin"></i> Loading...</a>

            <div class="quote-area" v-if="quote">
                <h2><blockquote>{{{ quote.joke }}}</blockquote></h2>
            </div>
        </div>
  </div>
</template>

<script>
export default {

  data() {

    return {
      quote: '',
      loading: false
    }
  },

  methods: {

    getQuote() {
        this.loading = true;
        this.$http
        .get('http://api.icndb.com/jokes/random', (data) => {
          this.quote = data.value;
          this.loading = false;
        })
        .error((err) => console.log(err))
    }
  }
}
</script>
